body {
  font: 20px Arial sans-serif;
}

.navbar {
  background-color: #eeff04;
}

.quem-somos {
  background-color: #58a6e6;
  color: white;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros {
  background-color: aqua;
}